.gamescreen {
 background-color: black;
 display: flex;
 min-height: 600px;
 width: auto;
 align-items: center;
 justify-content: center;
}

ul {
  list-style: none;

}

li {
  float: left;
  width: 62.5px;
  height: 62.5px;
  border: 1px solid black;
  cursor: pointer;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
}

.control-panel-column {
 background-color: white;
 width: 20%;
 height: 300px;
}

.gameboard {
  background-color: red;
  height: 500px;
  width: 500px;
}

#title {
  color: white;
  align-self: flex-start;

}
