.gamescreen {
 background-color: black;
 display: flex;
 flex-direction: column;
 min-height: 650px;
 width: auto;
 justify-content: center;
 align-items: center;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 20px;
}

li {
  float: left;
  width: 55px;
  height: 55px;
  border: 1px solid black;
  cursor: pointer;
}

li:hover{
  background-color: yellow;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  text-align: center;
}

.control-panel-column {
 background-color: white;
 width: 20%;
 height: 500px;
 margin-right: 10px;
}

.gameboard {
  background-color: red;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: white;
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
}
